[project]
	description = The refreshed code of snaption, not the vertical prototype anymore but the real thing
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/jasonexe
[access "refs/for/refs/*"]
	read = group user/jasonexe
	push = group user/jasonexe
	label-Code-Review = -2..+2 group user/jasonexe
	label-Verified = -1..+1 group user/jasonexe
	rebase = group user/jasonexe
	removeReviewer = group user/jasonexe
	submit = group user/jasonexe
[access "refs/heads/*"]
	read = group user/jasonexe
	create = group user/jasonexe
	push = +force group user/jasonexe
	pushMerge = group user/jasonexe
[access "refs/tags/*"]
	push = group user/jasonexe
	push = +force group user/jasonexe
